@use "../scss/mixins"  as *;

.table{
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    &__row{
        min-width: 60px;
        &__top{
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        }
    p{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.2rem 0.2rem;
        border: 1px solid rgb(218, 218, 218);
        margin-top: -1px;
        margin-left: -1px;
        height: 55px;
        @include bigger-than(xs){
            padding: .5rem;
        }
        }
        &__separator p{
            display: none;
            width: 1rem;
            padding: 0rem;
            @include bigger-than(sm){
                display: block;
            }
            &:first-child{
                border-style: none;

            }
        }
        &__btn--black{
            background-color: #000;
        }
        &-wrap{
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 2rem;

        }
        &__btns{
            display: flex;
        }
        &__btn{
            display: flex;
            justify-content: center;
            padding: 1rem 0.5rem 0.5rem 0.5rem;

            &__el{
                width: 100%;
                background-color: rgb(31, 72, 255);
                border: none;
                border-radius: 5px;
                padding: 1rem;
                font-weight: 600;
                color: #fff;
                text-decoration: none;
                text-align: center;
                &:hover{
                    background-color: rgb(21, 37, 105);
                }
                &--black{
                    background-color: #000;
                }
            }
            &:first-child{
                padding-left: 0;
            }
        }
    }
    
