* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  .card-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 60%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .card-wrapper {
    max-width: 90%;
  }
}

.card {
  margin: 1rem;
  display: flex;
  max-width: 350px;
  flex: 1;
  flex-direction: column;
  padding: 1rem;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}
.card__img {
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.card__img__desc {
  text-align: center;
  color: rgb(31, 72, 255);
  font-weight: 600;
  margin-bottom: 1rem;
}
.card__img img {
  max-width: 200px;
  height: auto;
  object-fit: cover;
}
.card__price {
  display: flex;
  margin-bottom: 1rem;
  color: #000;
  justify-content: center;
}
.card__price::before {
  display: block;
  content: "$";
  font-weight: 1000;
  font-size: 1.5rem;
}
.card__price::after {
  display: flex;
  align-items: center;
  content: "/mo";
  padding-left: 1rem;
}
.card__desc p {
  padding: 0.5rem 1rem;
}
.card__desc p::before {
  content: "";
  height: 2px;
  width: 7px;
  border-left: 2px solid rgb(0, 124, 0);
  border-bottom: 2px solid rgb(0, 124, 0);
  padding: 2px;
  transform: rotate(-45deg) translate(-16px, -10px);
  position: absolute;
}
.card__btn {
  display: flex;
  justify-content: center;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}
.card__btn__el {
  width: 100%;
  background-color: rgb(31, 72, 255);
  border: none;
  border-radius: 5px;
  padding: 1rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.card__btn__el:hover {
  background-color: rgb(21, 37, 105);
}
.card__btn__el--black {
  background-color: #000;
}

.quotes__container {
  display: flex;
  justify-content: center;
  padding: 5rem;
  background-color: rgb(95, 95, 95);
}

.quotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.quotes__header {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  border: 3px solid #fff;
  border-radius: 5px;
  margin-bottom: 2rem;
  max-width: 300px;
}
.quotes__body {
  background-color: #fff;
  padding: 3rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  width: 600px;
  height: 400px;
}
.quotes__body__quote p {
  font-size: 1.5rem;
}
.quotes__body__author h2 {
  font-size: 2rem;
  color: rgb(138, 110, 20);
}
.quotes__btn {
  display: flex;
  background-color: black;
  color: #fff;
  border-radius: 5px;
  padding: 1rem;
  text-decoration: none;
  font-weight: 800;
}
.quotes__btn:hover {
  background-color: rgb(138, 110, 20);
}

.table {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}
.table__row {
  min-width: 60px;
}
.table__row__top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.table p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0.2rem;
  border: 1px solid rgb(218, 218, 218);
  margin-top: -1px;
  margin-left: -1px;
  height: 55px;
}
@media (min-width: 576px) {
  .table p {
    padding: 0.5rem;
  }
}
.table__separator p {
  display: none;
  width: 1rem;
  padding: 0rem;
}
@media (min-width: 767px) {
  .table__separator p {
    display: block;
  }
}
.table__separator p:first-child {
  border-style: none;
}
.table__btn--black {
  background-color: #000;
}
.table-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
}
.table__btns {
  display: flex;
}
.table__btn {
  display: flex;
  justify-content: center;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}
.table__btn__el {
  width: 100%;
  background-color: rgb(31, 72, 255);
  border: none;
  border-radius: 5px;
  padding: 1rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.table__btn__el:hover {
  background-color: rgb(21, 37, 105);
}
.table__btn__el--black {
  background-color: #000;
}
.table__btn:first-child {
  padding-left: 0;
}

.accordion {
  margin: 0 auto;
  width: 60%;
  border-color: #fff;
  padding: 2rem;
  border-radius: 30px;
}

.accordion-title {
  margin-bottom: 2rem;
  text-align: center;
}

.accordion .content-container .question {
  padding: 1rem 0;
  font-size: 22px;
  cursor: pointer;
  border-bottom: 1px solid #000;
  position: relative;
}

.accordion .content-container .question::after {
  content: "+";
  position: absolute;
  right: -5px;
}

.accordion .answer {
  padding-top: 1rem;
  font-size: 22px;
  line-height: 1.5;
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: all 0.5s;
}

.accordion .content-container.active .question::after {
  content: "-";
  font-size: 2rem;
  transition: 0.5s;
}

.accordion .content-container.active .answer {
  height: 150px;
}

.survey-container {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.survey {
  display: flex;
  flex-direction: column;
  background-color: rgb(110, 110, 110);
  margin: auto;
  padding: 1rem;
  border-radius: 20px;
}
.survey__bar {
  border: 1px solid silver;
  border-radius: 1em;
  background: #eee;
  width: 100%;
  margin: 1rem auto;
  max-width: 15rem;
  overflow: hidden;
}
.survey__bar > div {
  padding: 1rem 0.5rem;
  border-radius: 1em;
  text-align: right;
  background-color: rgb(79, 79, 255);
  color: black;
  transition: all 0.5s;
  width: 0%;
}
.survey__bar > div[data-percent="10"] {
  width: 10%;
}
.survey__bar > div[data-percent="20"] {
  width: 20%;
}
.survey__bar > div[data-percent="30"] {
  width: 30%;
}
.survey__bar > div[data-percent="40"] {
  width: 40%;
}
.survey__bar > div[data-percent="50"] {
  width: 50%;
}
.survey__bar > div[data-percent="60"] {
  width: 60%;
}
.survey__bar > div[data-percent="70"] {
  width: 70%;
}
.survey__bar > div[data-percent="80"] {
  width: 80%;
}
.survey__bar > div[data-percent="90"] {
  width: 90%;
}
.survey__bar > div[data-percent="100"] {
  width: 100%;
}
.survey__questions {
  margin: 1rem 0;
}
.survey__answers {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.survey__answers input {
  text-decoration: none;
  padding: 1rem;
}
.survey__answers input:visited {
  color: #000;
}
.survey__body {
  display: none;
}
.survey__body.isVisible {
  display: block;
}

#survey-next-btn {
  padding: 0.5rem 1.5rem;
}

.slider-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.netflix__slider {
  --slider-index:0;
  --items-per-screen: 4;
  display: flex;
  flex-grow: 1;
  margin: 0 0.25rem;
  transform: translateX(calc(var(--slider-index) * -100%));
  transition: transform 250ms ease-in-out;
}
.netflix__slider > img {
  flex: 0 0 calc(100% / var(--items-per-screen));
  max-width: calc(100% / var(--items-per-screen));
  aspect-ratio: 16/9;
  padding: 0.25rem;
  border-radius: 1rem;
}

.handle {
  cursor: pointer;
  border-radius: 0.8rem;
  background-color: rgba(0, 0, 0, 0.25);
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: none;
  z-index: 1;
  transition: all 0.15s ease-in-out;
  margin: 0.25rem 0;
  padding: 0 0.5rem;
}
.handle:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.handle:hover .handle__text {
  transform: scale(1.1);
}

.handle__text {
  transition: all 0.15s ease-in-out;
}

.left-handle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.right-handle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

html {
  scroll-behavior: smooth;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  height: 100%;
  width: 100%;
  overflow-X: hidden;
}

body {
  font-size: 10px;
}
@media (min-width: 992px) {
  body {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 16px;
  }
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  flex-direction: column;
}

.mt {
  margin: 8rem;
}

.mx-auto {
  margin: 0 auto;
}

.vh {
  visibility: hidden;
}

.radius-t-l {
  border-top-left-radius: 5px;
}

.radius-b-l {
  border-bottom-left-radius: 5px;
}

.radius-t-r {
  border-top-right-radius: 5px;
}

.radius-b-r {
  border-bottom-right-radius: 5px;
}

.text-left {
  text-align: left !important;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
}/*# sourceMappingURL=main.css.map */